{% extends 'es/admin_base.html' %}

{% block page_css %}
  <style type="text/css">
    td {
        padding: 3px!important;
        padding-top:7px!important;
    }

    thead {
        border-bottom: 1px dotted rgba(37, 50, 56, 0.1)!important;
    }
    select {
        display: block!important;
    }
    .dataTables_length{
        display: none!important;
      }
</style>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" media="screen,projection"/>
{% endblock %}

{% block breadcrums %}
<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper" class=" grey lighten-3" style="  min-height: 70px;">
    <div class="container">
        <div class="row">
          <div class="col s12">
          <ol class="breadcrumb" style="font-size: 29px;">
                <li class="active">Da de alta tus permisos especiales <a class="btn waves-effect waves-light right brand-color modal-trigger white-text" href="#modal1">{%if not is_mobile %}Agregar{% endif %}<i class="mdi-av-my-library-add left"></i></a></li>
            </ol></div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
{% endblock %}


{% block page_content %}
<div class="container">
      <div class="section">
       <div class="row" style="margin-top:30px">
            <div class="row">
              <h3 class="col s12 m7 offset-m1 grey-text" style="font-weight: 200; line-height: 60px; letter-spacing: 0.2px;">Agrega tus permisos de acceso.</h3>
            </div>
            <table id="data-table-simple" class="dt-responsive no-wrap centered display compact">
                <thead style="font-family:roboto; color:#777777;">
                  <tr class="brand-color white-text">
                      <th>✎</th>
                      <th>Nombre</th>
                      <th>Email</th>
                      <th>Rol</th>
                      <th>Tiene cuenta</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody id="report_table" style="font-family:roboto-light;">
                    {% for operator in operators %}
                      <tr>
                          <td>
                              <div>    
                                  <a class="icon" href="{{ uri_for('admin-specials-edit', operator_id=operator.get_id()) }}"><i class="glyphicon-pencil glyphicon"></i> Editar o eliminar</a>
                              </div>                          
                          </td>
                          <td>{{operator.name}}</td>
                          <td>{{operator.email}}</td>
                          <td>{{operator.has_role()}}</td>
                          <td>{{operator.is_active()}}</td>
                          <td></td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>



<div id="modal1" class="modal white brand-color-text center" style="display: none; opacity: 1; top: 0px;">
  <i class="mdi-navigation-close brand-color-text right modal-action modal-close" style="padding: 10px;"></i>
  <div class="modal-content">
    <form id="form_add" action="{{ url|safe }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="row">
        <div class="input-field col s12 center">
          <p class="center login-form-text">Agrega un nuevo permiso especial llenando la siguiente forma</p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person prefix brand-color-text"></i>
          <input id="adminname" name="adminname" type="text">
          <label for="adminname" class="center-align">Nombre</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-communication-email prefix brand-color-text"></i>
          <input id="adminemail" name="adminemail" type="email">
          <label for="adminemail" class="center-align">Email</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12 l6">
            <!-- Dropdown Trigger -->
            <i class="mdi-action-group-work left brand-color-text active" style="font-size: 32px;margin-left:5px;"></i>
            <input type="hidden" id="adminrole" name="adminrole" value="Member">
            <label for="adminrole" class="center-align" style="margin-left:45px;">Rol:</label><br><br>
            <a data-hover="false" id="rolebtn" class='dropdown-button btn brand-color truncate' href='#' data-activates='roledd' style="min-width: 250px; min-height: 45px; line-height: 45px;">Operador</a>
            <blockquote id="permission" class="grey-text text-lighten-1 left" style="display:none; text-align: justify; margin-left: 45px;margin-top: 10px;border-left: 5px solid {{brand_color}};">Este nivel de acceso permite al operador ingresar a toda pantalla de su nivel.</blockquote>
            <!-- Dropdown Structure -->
            <ul id='roledd' class='dropdown-content' style="max-height: 250px; font-weight: bolder;">
              <li> <a class="brand-color-text" href="#" onclick="fillDd('Member', this);return false;">Operador</a></li>
              <li> <a class="brand-color-text" href="#" onclick="fillDd('Coord', this);return false;">Coordinador</a></li>
              <li> <a class="brand-color-text" href="#" onclick="fillDd('Admin', this);return false;">Administrador</a></li>
            </ul>                
        </div>
      </div>
      <div class="row" style="margin-top:35px;">
        <div class="input-field col s12">
          <a class="btn-large waves-effect waves-light col s12 brand-color white-text" style="cursor:pointer;" onclick="sendForm('form_add');">Agregar</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block page_floatings %}
{% endblock %}

{% block page_scripts %}
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript">
    function sendForm(form){
      if (document.getElementById('adminname').value==""){
         Materialize.toast('<span class="toast-warning">Oops! Llena el campo de nombre por favor.</span>',4500);

      }else if(document.getElementById('adminemail').value==""){
         Materialize.toast('<span class="toast-warning">Oops! Llena el campo de email por favor.</span>',4500);

      }else{
        document.getElementById(form).submit();  
      }
    }

    function fillDd(val, elem){
        $('#adminrole').val(val);
        $('#rolebtn').html(elem.innerHTML);
        switch(val){
          case 'Member':
            document.getElementById('permission').innerHTML = 'Este nivel de acceso permite al Operador ingresar a toda pantalla de su nivel.';
            break;
          case 'Admin':
            document.getElementById('permission').innerHTML = 'Este nivel de acceso permite al Administrador ingresar a toda pantalla de su nivel.';
            break;
          case 'Coord':
            document.getElementById('permission').innerHTML = 'Este nivel de acceso permite al Coordinador ingresar a toda pantalla de su nivel.';
            break;
        }
    }

    $('#data-table-simple').DataTable({
            scrollY: 300,
            scrollCollapse: true,
            paging: false,
            responsive: true,
            responsive: {
                details: {
                    type: 'column',
                    target: -1
                }
            },
            columnDefs: [ {
                className: 'control',
                orderable: false,
                targets:   -1
            } ],
            "order": [[ 1, "asc" ]],
            "lengthMenu": [[250], [250]],
            "language": {
              "lengthMenu": "Mostrar _MENU_ permisos por página",
              "search": "Buscar:",
              "zeroRecords": "Ningún permiso encontrado",
              "info": "Mostrando _START_ a _END_ de _TOTAL_ permisos",
              "infoFiltered": "(filtrando sobre _MAX_ permisos)",
              "paginate": {
                  "first":      "Inicio",
                  "last":       "Final",
                  "next":       "Siguiente",
                  "previous":   "Previo"
              }
            }
        } );



  </script>
{% endblock %}
