{% extends 'admin_base.html' %}

{% block header_title %}
    {% trans %}Qubit List{% endtrans %}
{% endblock %}

{% block content %}
<h3 style="color: rgb(129, 129, 129);">To edit values or add more elements, go to: <a href="https://console.developers.google.com/project/mihogarinvictus/datastore/query" target="_blank"> admin console </a></h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            {% for attr, name in list_columns %}
            <th>
                {{ name|safe }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    {% for qubit in qubits %}
    <tr>
        {% for attr, name in list_columns %}
        <td>
            {{ getattr(qubit, attr)|e }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{{ lib.render_pager() }}
{% endblock %}
