{% extends 'admin_base.html' %}

{% block header_title %}
    Send Email
{% endblock %}

{% block breadcrums %}
<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper" class=" grey lighten-3" style="  min-height: 70px;">
    <div class="container">
        <div class="row">
          <div class="col s12">
            <ol class="breadcrumb" style="font-size: 29px;">
                <li class="active">Send email<a class="btn waves-effect waves-light right brand-color white-text" href="/admin/">Back<i class="mdi-navigation-arrow-back left"></i></a></li>
            </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
{% endblock %}

{% block page_content %}
<div class="row" style="margin-top:60px;">
    <div class="container">
        <div class="row">
        <div class="col s12 l6" style="margin-bottom:30px;">
            <!--     <input id="recipents" type="text" style="padding:10px; width: 100%" placeholder="chuydb@invictus.com" value="{{recipent}}"> -->

            <form id="form_sendemail" action="{{ url|safe }}" method="POST" class="form-horizontal">
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group row">
                        <div class="col s8">
                            <label for="recipents">Recipient (Comma separated or 'ALLUSERS' to send bulk mail)</label> 
                            <input class="input-xlarge form-control" id="recipents" name="recipents" type="text" value="{{recipent}}">
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <div class="col s8">
                            <label for="subject">Subject</label> 
                            <input class="input-xlarge form-control" id="subject" name="subject" type="text" value=""> 
                            <input class="input-xlarge form-control" id="emailbody" name="emailbody" type="text" value="" hidden="">
                        </div>
                    </div>
            
                    <div class="form-group">
                        <div class="col s8 controls">
                            <button onclick="sendForm('form_sendemail')" class="waves-effect waves-light light-blue white-text btn right" value="Enviar">Send<i class="mdi-content-send right"></i></button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        </div>
        <div class="row">
        <div class="row">
        <div id="dataforemail" class="col s12 l6" style="border-right:1px solid grey">
            <table cellpadding="0" cellspacing="0" border="0" style="background-color: #FFFFFF;width:554px;margin:0px auto;padding:0px;border-spacing:0;border-collapse:collapse;">
                <tbody>
                    <tr style="height:10px">
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                        <td style="background-color: #FFFFFF;padding:15px 10px">
                            <center>
                                <div style="width: 100%">
                                    <label for="logourl">URL logo</label>
                                    <input id="logourl"type="text" style="padding:10px; width: 100%" placeholder="{{brand_email_logo}}" value="{{brand_email_logo}}">
                                </div>
                            </center>
                        </td>
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                    </tr>
                    <tr style="height:10px">
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                        <td style="background-color: #FFFFFF;padding:15px 10px">
                            <center>
                                <div >
                                    <label for="moodurl">URL art</label>
                                    <input id="moodurl"type="text" style="padding:10px; width: 100%;height: 100%" placeholder="{{brand_splash}}" value="{{brand_splash}}">
                                </div>
                            </center>
                        </td>
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                    </tr>
                    <tr style="height:10px">
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                        <td style="background-color: #FFFFFF;padding:15px 10px">
                            <div>
                                <label for="greetingtitle">Title</label>
                            </div>
                            <div>
                                <input id="greetingtitle"type="text" style="padding:10px;" placeholder="Hello !" value="Hello !">
                            </div>
                            <div>
                                <label for="greeting">Greeting</label>
                            </div>
                            <div>
                                <input id="greeting"type="text" style="padding:10px;" placeholder="How are you Random User!" value="How are you Random User!">
                            </div>
                            <label for="body">Message</label>
                            <textarea id="body" rows="8" style="width: 100%" placeholder="Mensaje principal del correo" >We're happy to have you so close. Thus, we wanted to tell you that...</textarea>
                        </td>
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                    </tr>
                    <tr style="height:10px">
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                        <td style="background-color: #FFFFFF;padding:15px 10px; color:white;text-align:center;">
                            <center>
                                <div style="padding: 5px; width: 100%; border-style: solid;" >
                                <div>
                                    <label for="ctatext">Call to action text</label>
                                </div>
                                <div>
                                    <input id="ctatext"type="text" style="padding:10px; width: 100%; color: #BABABA" placeholder="Visit M Boilerplate" value="Visit M Boilerplate">
                                </div>
                                <div>
                                    <label for="ctaurl">Call to action URL</label>
                                </div>
                                <div>
                                    <input id="ctaurl"type="text" style="padding:10px; width: 100%; color: #BABABA" placeholder="{{app_domain}}" value="{{app_domain}}">
                                </div>
                                </div>
                            </center>
                        </td>
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                    </tr>
                    <tr style="height:10px">
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                        <td style="background-color: #FFFFFF;padding:15px 10px">
                            <div>
                                <label for="closing">Closing</label>
                            </div>
                            <div style="width: 60%">
                                <input id="closing"type="text" style="padding:10px;width: 100%" placeholder="Have a good one !" value="Have a good one !">
                            </div>
                            <div>
                                <label for="cheers">Good-bye</label>
                            </div>
                            <div>
                                <input id="cheers"type="text" style="padding:10px;" placeholder="Truly yours," value="Truly yours,">
                            </div>
                            <div>
                               <label for="sign">Signature</label>
                            </div>
                            <div>
                                <input id="sign"type="text" style="padding:10px; color:{{brand_color}};" placeholder="Team {{app_name}}" value="Team {{app_name}}">
                            </div>
                        </td>
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="previewemail" class="col s12 l6" >
            <table cellpadding="0" cellspacing="0" border="0" style="background-color: #FFFFFF;width:554px;margin:0px auto;padding:0px;border-spacing:0;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                        <td style="background-color: #FFFFFF;padding:15px 10px">
                            <center>
                                <a href="#" target="_blank">
                                    <img id="p_logourl" src="" height="40px">
                                </a>
                            </center>
                        </td>
                        <td style="width:24px;background-color: #FFFFFF;"></td>
                    </tr>
                    <tr style="height:10px">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width:24px"></td>
                        <td style="background-color:#ffffff;padding:15px;color:#494949; border-radius:3px">
                            <div style="text-align:center">                            
                                <img id="p_moodurl" src="" style="max-width:547px;">
                            </div>
                            <h1 id= "p_greetingtitle" style="min-height:48px;margin:0;color: #657D8D;font-size:20px;font-weight: 700;line-height:48px;margin-left: 20px;font-family:roboto; margin-top:30px;text-align:center"></h1>
                            <table cellpadding="0" cellspacing="0" border="0" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
                                <tbody>
                                    <tr height="20" style="height:20px">
                                        <td width="0" height="20" valign="middle" style="width:0px;height:20px"></td>
                                    </tr>
                                    <tr>
                                        <td width="552" valign="middle" style="width:552px">
                                            <table cellpadding="0" cellspacing="0" border="0" width="552" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
                                                <tbody>
                                                    <tr>
                                                        <td width="20" valign="middle" style="width:20px"></td>
                                                        <td width="512" valign="middle" style="width:512px">
                                                            <h3 id="p_greeting"style="margin: 20px 0 25px;color: #657D8D;font-size:20px;font-weight:400;line-height:24px;letter-spacing:0.35px;font-family: roboto; "></h3>
                                                            <p id="p_body" style="white-space: pre-wrap;margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light;color: #657D8D;"></p>                          
                                  
                                                            <div style="text-align:center">
                                                                <u></u>
                                                                <table cellspacing="0" cellpadding="0" style="text-align:center;margin-left:auto;margin-right:auto; margin-top: 50px;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="290" height="50" style="text-align:center;cursor:pointer;border: 1px solid {{brand_color}}; border-radius: 8px;"onclick="">
                                                                                <a id="p_cta" href="" style="color: {{brand_color}};font-size:18px;font-family: roboto;text-decoration:none; letter-spacing:1px" target="_blank"></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <u></u>
                                                            </div>
                                                            <p id="p_closing"style="margin:45px 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light;color: #657D8D;"></p>    
                                                            <p id="p_cheers"style="margin:0 0 -5px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light;color: #657D8D;"></p>
                                                            <p id="p_sign"style="margin:6px 0 -5px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light;color:{{brand_color}}" ></p>  
                                                        </td>
                                                        <td width="20" valign="middle" style="width:20px"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr height="20" style="height:20px"></tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width:24px"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_floatings %}
{% endblock %}

{% block page_scripts %}
<script>

function init () {
    setInterval(function() {  
        document.getElementById('p_logourl').src = document.getElementById('logourl').value;
        document.getElementById('p_moodurl').src = document.getElementById('moodurl').value;
        document.getElementById('p_greetingtitle').innerHTML = document.getElementById('greetingtitle').value;
        document.getElementById('p_greeting').innerHTML = document.getElementById('greeting').value;
        document.getElementById('p_body').innerHTML = document.getElementById('body').value;
        document.getElementById('p_cta').href = document.getElementById('ctaurl').value;
        document.getElementById('p_cta').innerHTML = document.getElementById('ctatext').value;
        document.getElementById('p_closing').innerHTML = document.getElementById('closing').value;
        document.getElementById('p_cheers').innerHTML = document.getElementById('cheers').value;
        document.getElementById('p_sign').innerHTML = document.getElementById('sign').value;    
    }, 100);
}

window.onload = function() {
  init();
};


function sendForm(formID){
    
    if (document.getElementById('recipents').value != '' && document.getElementById('subject').value != '' ){
        document.getElementById('emailbody').value = document.getElementById('previewemail').innerHTML;
        document.getElementById(formID).submit();
    }

}




</script>
{% endblock %}
