{% extends 'admin_base.html' %}

{% block header_title %}
    {% trans %}Box Setup{% endtrans %}
{% endblock %}


{% block content %}

    <div class="row">
      <div class="col-sm-12">
            <form id="form_edit_box" action="/admin/box/" method="post" style="margin-bottom:60px;">
              <div class="form-group">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">               
              </div>
              <div class="form-group">
                <label for="homeid">Home ID</label>
                <input type="text" class="form-control" id="homeid" name="homeid" placeholder="Home ID">
              </div>
              <div class="form-group">
                <label for="serial">Serial</label>
                <input type="text" class="form-control" id="serial" name="serial" placeholder="Serial Number">
              </div>
              <div class="form-group">
                <label for="vera_user">Vera User</label>
                <input type="text" class="form-control" id="vera_user" name="vera_user" placeholder="Vera User">
              </div>
              <div class="form-group">
                <label for="vera_pass">Vera Pass</label>
                <input type="text" class="form-control" id="vera_pass" name="vera_pass" placeholder="Vera Pass">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
      </div>        
    </div>

<paper-toast id="toastEditAppliances" text="{% trans %}Oops, ¿te faltó llenar algún campo?{% endtrans %}" style="z-index:9999" class="warning" duration="6000" autoclosedisabled></paper-toast>

    




{% endblock %}



{% block mediaJS %}
{% endblock %}