{% extends 'admin_base.html' %}


{% block page_css %}
    <style>

    .bar rect {
      fill: #777777;
      shape-rendering: crispEdges;
    }

    .bar text {
      fill: #fff;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    </style>
{% endblock %}

{% block breadcrums %}
<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper" class=" grey lighten-3" style="  min-height: 70px;">
    <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <h5 class="breadcrumbs-title">Visits</h5>
          </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
{% endblock %}

{% block page_content %}
<div class="row" style="margin-top:60px;">
    <form method="get" class="col s12" role="search">
        <div class="input-field col s12 m6">
          <input placeholder="Search visits" id="q" name="q" type="text" class="validate">
          <label for="q" class="active">Total Visits {{count}}</label>
        </div>
        <button type="submit" class="btn waves-effect waves-light light-blue" style="margin-top:20px;">Search<i class="mdi-action-search right"></i></button><a id="remove" href="/admin/logs/visits/" class="grey-text" style="font-size: 15px;padding:10px;">Remove</a>
    </form>
</div>

<table class="table striped hoverable responsive-table centered" style="  font-size: 12px; font-family: roboto-light; margin-top:40px; margin-bottom:40px;">
    <thead>
        <tr>
            {% if not q %}
            <th >&nbsp;</th>
            {% endif %}
            <th class="span1">User ID</th>
            {% for attr, timestamp in list_columns %}
            <th>
                {{ timestamp|safe }}
            </th>
            {% endfor %}
            <th>
                Total visits
            </th>
        </tr>
    </thead>
    {% for visit in visits %}
    <tr>
        {% if not q %}
        <td>
            <a class="icon" href="{{ uri_for('admin-logs-visits', q=visit.user.id()) }}"><i class="mdi-content-filter-list"></i></a>
        </td>
        {% endif %}
        <td>
            <a class="icon" href="{{ uri_for('admin-user-edit', user_id=visit.user.id()) }}">{{ visit.user.id() }}</a>
        </td>
        {% for attr, timestamp in list_columns %}
        <td>
            {{ getattr(visit, attr)|e }}
        </td>
        {% endfor %}
        <td>
            {{ rec_visits[visit.user.id()] }}
        </td>
    </tr>
    {% endfor %}
</table>
{{ lib.render_pager() }}
<div class="row center">
    <h6 style="  margin-top: 35px;">Recurrent visits histogram (logins after activation: {{ len_hist }})</h6>
    <histogram style="text-align: center;"></histogram>
</div>
{% endblock %}



{% block page_floatings %}
{% endblock %}


{% block page_scripts %}

<script type="text/javascript">
  $(function () {
      var vars = {};
      var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value;
      });
      if(vars['q'])
        $('#remove').show();
      else
        $('#remove').hide();
  });
</script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var values = {{histogram}};

// A formatter for counts.
var formatCount = d3.format(",.0f");

var margin = {top: 10, right: 30, bottom: 30, left: 30},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .domain([0, {{maxValue}}])
    .range([0, width]);

// Generate a histogram using twenty uniformly-spaced bins.
var data = d3.layout.histogram()
    .bins(x.ticks(50))
    (values);

var y = d3.scale.linear()
    .domain([0, d3.max(data, function(d) { return d.y; })])
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var svg = d3.select("histogram").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var bar = svg.selectAll(".bar")
    .data(data)
  .enter().append("g")
    .attr("class", "bar")
    .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

bar.append("rect")
    .attr("x", 1)
    .attr("width", x(data[0].dx) - 1)
    .attr("height", function(d) { return height - y(d.y); });

bar.append("text")
    .attr("dy", ".75em")
    .attr("y", 6)
    .attr("x", x(data[0].dx) / 2)
    .attr("text-anchor", "middle")
    .text(function(d) { return formatCount(d.y); });

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

</script>
{% endblock %}
