{% extends 'admin_base.html' %}

{% block header_title %}
    {% trans %}UMR Setup{% endtrans %}
{% endblock %}


{% block content %}
    {% if home_id and has_umr %}
      <div class="row">
        <div class="col-sm-12 col-md-4" style="overflow-x:hidden">
          <img src="/umr/?homeid={{home_id}}" style="border-radius:4px;filter: grayscale(1) contrast(180%); -webkit-filter: grayscale(1) contrast(180%);-moz-filter: grayscale(1) contrast(180%);-o-filter: grayscale(1) contrast(180%);">
          <a class="row" href="#" data-toggle="modal" data-target="#original_pic" style="cursor">Ver imagen original</a>
        </div>
        <div class="col-sm-12 col-md-8">
              <form id="form_edit_umr" action="/admin/estimator/" method="post">
                <div class="form-group">
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">               
                </div>
                <div class="form-group">
                  <label for="homeid">Home ID</label>
                  <input type="text" class="form-control" id="homeid" name="homeid" placeholder="Home ID" value="{{home_id}}">
                </div>
                <div class="form-group">
                  <label for="pdf_date">PDF Date</label>
                  <input type="date" class="form-control" name="pdf_date" id="pdf_date" value="{{pdf_date}}" style="color: #1a237e;font-size: 12px;width:225px">
                </div>
                <div class="form-group">
                  <label for="pdf_reading">PDF Reading</label>
                  <input type="number" class="form-control" id="pdf_reading" value="{{pdf_reading}}" name="pdf_reading" placeholder="PDF Reading">
                </div>
                <div class="form-group">
                  <label for="reading">UMR Reading</label>
                  <input type="number" class="form-control" id="reading" value="{{reading}}" name="reading" placeholder="UMR Reading">
                </div>
                <div class="form-group">
                  <label for="">Active Period</label>
                  <input type="text" class="form-control" value="{{period}}" id="period" name="period" disabled>
                </div>
              </form>
              <div class="form-group">
                <label for="">Updated at</label>
                <input type="date" class="form-control" value="{{date}}" disabled>
              </div>
              {% if reading != -1 and reading != None %}
              <div class="form-group">
                <label for="" style="color:#F0AD4E">WARNING: The displayed picture has an associated reading, adding a new value will overwite saved data.</label>
              </div>
              {% endif %}
              <button type="submit" onclick="document.getElementById('form_edit_umr').submit()" class="btn btn-default" style="margin-top:0px;">Send Update</button>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-sm-12">
              <form id="form_call_home" style="margin-bottom:60px;">
                <div class="form-group">
                  <label for="homeid">Home ID</label>
                  <input type="text" class="form-control" id="homeid" name="homeid" placeholder="Home ID">
                </div>
                
                <button onclick="window.open('/admin/estimator/?homeid='+document.getElementById('homeid'), '_top')"  class="btn btn-default">Load UMR for Home ID</button>
              </form>
        </div>        
      </div>
    {% endif %}


    <!-- Modals -->
    <div class="modal fade" id="original_pic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background:transparent; box-shadow:none;margin-top: 0px; min-height: 93%!important;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="text-align:center; font-family:lato; font-weight:bold; color:#727272; font-size:18px;">This is the original user's picture.</h4>       
          </div>
          <div class="modal-body" style="text-align:center;">
                <img src="/umr/?homeid={{home_id}}" style="border-radius:4px;">
          </div>
        </div>
      </div>
    </div>

<paper-toast id="toastEditAppliances" text="{% trans %}Oops, ¿te faltó llenar algún campo?{% endtrans %}" style="z-index:9999" class="warning" duration="6000" autoclosedisabled></paper-toast>

    




{% endblock %}



{% block mediaJS %}
{% endblock %}