{% extends base_layout %}
{% block title %}
   Nueva contraseña
{% endblock %}

    {% block mediaCSS %}
            <link href="/default/css/landing-page.css" rel="stylesheet">
            <link href="/default/css/lib/font-awesome.min.css" rel="stylesheet" type="text/css">
            <style>
                #zenbox_tab{display: none!important;}

                .form-group{
                  margin-bottom:1px!important;
                }
                .custom-landing{
                  border: 1px solid #D5D5D5;
                  max-width: 300px;
                  border-radius: 4px;
                  font-family: lato;
                  font-weight: lighter;
                  padding: 5px;
                  font-size: 12px;
                  width: 200px;

                }
                .custom-landing /deep/ ::-webkit-input-placeholder {
                  color: #3b4b54;
                }

                .custom-landing /deep/ ::-moz-placeholder {
                  color: #3b4b54;
                }

                .custom-landing /deep/ .label-text,
                .custom-landing /deep/ .error {
                  color: #3b4b54;
                }

                .custom-landing /deep/ .unfocused-underline {
                  background-color: #d5d5d5;
                }

                .custom-landing[focused] /deep/ .floated-label .label-text {
                  color: #3b4b54;
                }

                .custom-landing /deep/ .focused-underline {
                  background-color: #3b4b54;
                }

                .custom-landing /deep/ .cursor {
                  background-color: #3b4b54;
                }

                .custom-landing.invalid /deep/ .floated-label .label-text,
                .custom-landing /deep/ .error {
                  color: #f06292;
                }

                .custom-landing.invalid /deep/ .focused-underline,
                .custom-landing.invalid /deep/ .cursor {
                  background-color: #f06292;
                }
            </style>
    {% endblock %}

    {% block main_body %}       
            <!-- Navigation -->
                <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="background: rgba(0, 0, 0, 0.2)!important;border-bottom: none;">
                    <div class="container topnav">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand topnav"href="/"><img src="/{{ theme }}/img/invictus-naranja.png" height="40px" style="margin-top:-10px"></a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="http://blog.invictus.mx/equipo" style="font-family:lato; font-size:15px; color:white;font-weight: lighter;">Nosotros</a>
                                </li>
                                <li>
                                    <a href="http://blog.invictus.mx/" style="font-family:lato; font-size:15px; color:white;font-weight: lighter;">Blog</a>
                                </li>
                                <li>
                                    <a data-toggle="modal" data-target="#login" class="orange-ghost" style="font-family: lato; font-weight:bold;font-size: 18px;padding-left: 30px!important;padding-right: 30px!important;margin-top: 10px;margin-left: 18px;cursor:pointer;">Ingresar</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container -->
                </nav>


                <!-- Header -->
                <a name="about"></a>
                <div class="intro-header">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-10 col-md-6 col-lg-6 col-md-offset-3">
                                <div class="intro-message">                                 
                                    <div class="modal-content" style="background:rgba(255,255,255,0.92)">
                                          <div class="modal-header">
                                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                                            <center><img src="/default/img/invictus-naranja.png" height="40px" style="margin-top:-10px"></center>
                                             <h4 class="modal-title" id="myModalLabel" style="text-align:center; font-family:lato; font-weight:bold; color:#727272; font-size:24px;margin-bottom:0px;margin-top:0px;"> {{_username}}, crea aquí tu nueva contraseña.</h4>                                            
                                          </div>
                                          <div class="modal-body" style="text-align:center;">
                                                <form id="form_fake">
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <label class="controls">
                                                                <paper-input-decorator class="custom-landing" label="{% trans %}Escribe tu nueva contraseña{% endtrans %}" >
                                                                    <input is="core-input" style="color: #3b4b54;" name="_password" id="_password" type="password" placeholder="{% trans %}Escribe tu nueva contraseña{% endtrans %}" onchange="passShadow(this)">
                                                                </paper-input-decorator>
                                                            </label>
                                                        </div>
                                                        <div class="form-group" style="margin-bottom: 20px!important;">
                                                            <label class="controls">
                                                                <paper-input-decorator class="custom-landing" label="{% trans %}Confirma tu nueva contraseña{% endtrans %}" >
                                                                    <input is="core-input" style="color: #3b4b54;" name="_c_password" id="_c_password" type="password" placeholder="{% trans %}Confirma tu nueva contraseña{% endtrans %}" onchange="passShadow(this)">
                                                                </paper-input-decorator>
                                                            </label>
                                                        </div>
                                                    </fieldset>
                                                </form>

                                                <form id="form_new_password" action="{{ url|safe }}" method="post" class="well form-horizontal" style="display:none;">
                                                        <fieldset>
                                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                                            <input class="input-xlarge focused required" id="password" name="password" placeholder="Enter your New Password" type="password" value="" hidden>
                                                            <input class="input-xlarge focused required" id="c_password" name="c_password" placeholder="Confirm Password" type="password" value="" hidden>             
                                                        </fieldset>
                                                </form>

                                            <a class="orange-ghost" style="min-width:160px; margin-top:10px; padding-top:10px!important; padding-bottom:10px!important; padding-left:30px!important; padding-right:30px!important;cursor:pointer;" onclick="sendForm('form_new_password')">{% trans %}Reestablecer contraseña{% endtrans %}</a>    

                                          </div>
                                        </div>
                                      </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container -->

                </div>
                <!-- /.intro-header -->


                {% if messages|safe %}
                        {% for message in messages %}
                    <paper-toast id="toast" text="{{ message[0]|safe }}" style="z-index:9999" class="{{ message[1]|safe }}" duration="6000" autoclosedisabled></paper-toast>
                    <div id="toast-additionals" class="toast-additionals"></div>
                        {% endfor %}
                    <script>
                      setTimeout(function(){
                        while(typeof document.querySelector('#toast') == "undefined"){}
                        
                        var toast = document.querySelector('#toast');
                        var toast_additionals = document.getElementById('toast-additionals');
                        var resendIndex = toast.text.search('resend')
                        if ( resendIndex > 0 ){
                          //this is the case when resend-activation-link is sent
                          // 1: Add this text as html to toast additionals
                          toast_additionals.innerHTML = '<a href="/'+toast.text.substr(resendIndex).replace(/ /g,'/')+'/"><p>Haz clic aquí para reenviarte el correo de activación.</p><p>Tip: El link anterior ya no funcionará.</p></a>';
                          // 2: Trim this text from toast
                          toast.text = toast.text.substr(0, resendIndex-1);             
                        }
                        toast.show();
                        toast_additionals.style.display = 'block';
                      
                      },500)
                    </script>
                    {% endif %} 

                <!-- Footer -->
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12" style="text-align:center;">
                                <ul class="list-inline">
                                    <li>
                                        <a href="/contact/" title="Contáctanos" target="_blank">
                                          <img alt="Contáctanos" title="Contáctanos" border="0" src="http://mihogarinvictus.appspot.com/default/img/mail_bk.png" height="50px" style="display:block;margin:auto">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://twitter.com/invictusmx" title="Comparte en Twitter" target="_blank">
                                          <img alt="Comparte en Twitter" title="Comparte en Twitter" border="0" src="http://mihogarinvictus.appspot.com/default/img/tw_bk.png" height="50px" style="display:block;margin:auto">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.facebook.com/wwwinvictusmx" title="Comparte en Facebook" target="_blank">
                                          <img alt="Comparte en Facebook" border="0" title="Invictus Facebook" src="http://mihogarinvictus.appspot.com/default/img/fb_bk.png" height="50px" style="display:block;margin:auto">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/3577170?trk=tyah&trkInfo=tarId%3A1422386950602%2Ctas%3Ainvictus.mx%2Cidx%3A2-1-2" title="Ver en LinkedIn" target="_blank">
                                          <img alt="Ver en LinkedIn" border="0" title="Ver en LinkedIn" src="http://mihogarinvictus.appspot.com/default/img/in_bk.png" height="50px" style="display:block;margin:auto">
                                        </a>
                                    </li>
                                </ul>
                                <p class="copyright text-muted small">Copyright &copy; Invictus 2015. Todos los derechos reservados</p>
                            </div>
                        </div>
                    </div>
                </footer>




            <!-- Modals -->
            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background:transparent; box-shadow:none;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <center><img src="/default/img/invictus-naranja.png" height="40px" style="margin-top:-10px"></center>
                    <h4 class="modal-title" id="myModalLabel" style="text-align:center; font-family:lato; font-weight:bold; color:#727272; font-size:24px;">Ingresa a tu cuenta.</h4>       
                  </div>
                  <div class="modal-body" style="text-align:center;">
                    <!--            FAKE FORM USING POLYMER             -->
                      <form id="l_form_fake">
                        <fieldset>
                          <div style="margin-top: 0px;margin-bottom: -10px;">
                        <div class="form-group">
                          <label class="controls">
                            <paper-input-decorator class="custom-landing" label="{% trans %}Correo electrónico{% endtrans %}">
                              <input is="core-input" style="color: #3b4b54;" name="_username" id="_l_username" type="text" placeholder="{% trans %}Correo electrónico{% endtrans %}" onchange="passShadow(this)">
                            </paper-input-decorator>
                          </label>
                        </div>
                        <div class="form-group">
                          <label class="controls">
                            <paper-input-decorator class="custom-landing" label="{% trans %}Contraseña{% endtrans %}">
                              <input is="core-input" style="color: #3b4b54;" name="_password" id="_l_password" type="password" placeholder="{% trans %}Contraseña{% endtrans %}" onchange="passShadow(this)" onKeyPress="passShadow(this); enterpressEvent(event, 'form_login_user')">
                            </paper-input-decorator>
                          </label>
                        </div>
                        <div class="col-md-12" style="margin-bottom:15px;">
                          <label class="checkbox" style="font-size: 12px; color:#5A5A5A;">
                            <paper-checkbox is="core-input" name="_remember_me" id="_remember_me" for style="height: 14px;margin-right:4px;" onchange="passShadow(this)" value="on"></paper-checkbox>
                            {% trans %}Recordarme{% endtrans %} <a href="{{ uri_for("password-reset") }}" style="padding: 15px;">{% trans %}¿La olvidaste?{% endtrans %}</a>
                          </label>
                        </div>
                      </div>
                      </fieldset>
                      </form>

                      <!--            TRUE FORM           -->
                      <form id="form_login_user" action="/login/" method="post">
                        <fieldset>
                          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                          <input class="focused required form-control" name="username" id="l_username" type="text" placeholder="{% trans %}Username or Email{% endtrans %}" hidden>

                          <input class="focused required form-control" name="password" id="l_password" type="password" placeholder="{% trans %}Password{% endtrans %}" hidden>

                          <input type="checkbox" name="remember_me" id="remember_me" value="on" hidden>
                          <!--            {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}-->

                        </fieldset>
                      </form>

                       <a class="orange-ghost" style="min-width:160px; padding-top:10px!important; padding-bottom:10px!important; padding-left:45px!important; padding-right:45px!important; cursor:pointer;"  onclick="sendForm('form_login_user')">{% trans %}Ingresar{% endtrans %}</a>  


                      <h6 class="legal" style="margin-top:30px;">
                        <a href="{{ uri_for("tou") }}" class="legal">{% trans %}Términos de uso{% endtrans %}</a> - 
                        <a href="{{ uri_for("privacy") }}" class="legal">{% trans %}Aviso de privacidad{% endtrans %}</a> - 
                        <a href="{{ uri_for("faq") }}" class="legal">{% trans %}Preguntas frecuentes{% endtrans %}</a> 
                      </h6>
                  </div>
                </div>
              </div>
            </div>
            <paper-toast id="toastLogin" text="{% trans %}Oops, ¿te faltó llenar algún campo?{% endtrans %}" style="z-index:9999" class="warning" duration="6000" autoclosedisabled></paper-toast>
    {% endblock %} 


    {% block mediaJS %}
        <script>
              function sendForm(formID){
                if (formID == "form_login_user"){
                  if (document.getElementById('l_username').value != '' && document.getElementById('l_password').value != '' )
                    document.getElementById(formID).submit();
                  else
                    document.querySelector('#toastLogin').show();
                }else if (formID == "form_new_password"){
                    if (document.getElementById('password').value != '' && document.getElementById('c_password').value != ''){
                        document.getElementById(formID).submit();
                    }else
                        document.querySelector('#toastLogin').show();

                }
              }

              function passUser(element){
                document.getElementById('username').value = cleanUpSpecialChars(element.value.toLowerCase().replace(/ /g, ""));
                document.getElementById('_username').value = cleanUpSpecialChars(element.value.toLowerCase().replace(/ /g, ""));
              }

              $().ready(function () {

                $("#form_new_password").validate({
                    submitHandler: function(form) {
                        form.submit();
                    },
                    errorPlacement: function(error, element) {
                        element.parent().parent().addClass("error");
                        error.addClass("help-inline").appendTo( element.parent() );
                    }
                });
                $("#form_fake").validate({
                    submitHandler: function(form) {
                        form.submit();
                    },
                    errorPlacement: function(error, element) {
                        element.parent().parent().addClass("error");
                        error.addClass("help-inline").appendTo( element.parent() );
                    }
                });

                $("#form_login_user").validate({
                  submitHandler: function (form) {
                    form.submit();
                  },
                  rules: {
                    l_username: 'required',
                    l_password: 'required'
                  },
                  errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                  }
                });
                $("#l_form_fake").validate({
                  submitHandler: function (form) {
                    //form.submit();
                  },
                  rules: {
                    _l_username: 'required',
                    _l_password: 'required'
                  },
                  errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                  }
                });
              });
            </script>
    {% endblock %}



