<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Server Error | Timeout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <meta name="description" content="timeout error">
    <link rel="icon" href="/default/materialize/images/brand/fav.png" sizes="180x180">
</head>

<body>

<div class="container">
    <h1 style="margin-bottom: 1em;">Lo sentimos, algo ha salido mal.</h1>

    <div>
        <p class="label">Error: {{ exception }}</p>
        <h2>¿Qué pudo causarlo?</h2>
        <ul>
            <li>Un error técnico de nuestro equipo.</li>
        </ul>

        <h2>¿Qué puedes hacer?</h2>
        <ul>
            <li>Escribe nuevamente la URL.</li>
            <li>Regresa a la <a href="/">página de inicio</a>. </li>
        </ul>

        <div>
            <strong>Una cosa más:</strong><br />
            Si gustas ayudarnos a mejorar y evitar este inconveniente en el futuro, estamos para servirte.
            Por favor contáctanos diciendo <a href="/contact/?exception={{ exception }}-{{ url }}">qué salió mal</a>.
        </div>
    </div>
</div>

</body>
</html>
