ACCOUNT ACTIVATION
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div align="center">
  <table cellpadding="0" cellspacing="0" border="0" style="background-color: #FFF;width:554px;margin:0px auto;padding:0px;border-spacing:0;border-collapse:collapse">
    <tbody>
      <tr>
        <td style="width:24px;background-color: #FFF;"></td>
        <td style="background-color: #FFF;padding:15px 10px">
          <center>
          <a href="http://mboilerplate.appspot.com" target="_blank">
            <img src="http://mboilerplate.appspot.com/default/materialize/images/favicon/fav-blue.png" height="80px" style="margin-bottom: -45px;">
          </a>
          </center>
        </td>
        <td style="width:24px;background-color: #FFF;"></td>
      </tr>
      <tr style="height:10px">
        <td></td>
      </tr>
      <tr>
        <td style="width:24px"></td>
        <td style="background-color:#ffffff;padding:15px;color:#494949; border-radius:3px">
          <h1 style="min-height:48px;margin:0;color:#3594F6;font-size:20px;font-weight:normal;line-height:48px;text-align:center;font-family:roboto">¡Bienvenido!</h1>
          <table cellpadding="0" cellspacing="0" border="0" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
            <tbody>
              <tr height="20" style="height:20px">
                <td width="0" height="20" valign="middle" style="width:0px;height:20px"></td>
              </tr>
              <tr>
                <td width="552" valign="middle" style="width:552px">
                  <table cellpadding="0" cellspacing="0" border="0" width="552" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td width="20" valign="middle" style="width:20px"></td>
                        <td width="512" valign="middle" style="width:512px">
                          <h3 style="margin:15px 0 25px;color:#3594F6;font-size:20px;font-weight:400;line-height:24px;letter-spacing:0.35px;font-family: roboto-thin; text-align:center;">Gracias por registrarte, {{username}}</h3>
                          <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Activa tu cuenta confirmando tu correo.</p>                          
                          <div style="text-align:center"><u></u>
                            <table cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto; margin-top: 50px;">
                              <tbody>
                                <tr>
                                  <td align="center" width="290" height="50" bgcolor="" style="border-radius: 8px;border: 1px solid #66B454; cursor:pointer;" onclick=""><a href="{{confirmation_url}}" style="color: #66B454;font-size:18px;font-family: roboto;text-decoration:none; letter-spacing:1px" target="_blank">Confirmar mi correo</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table><u></u>
                          </div>
                          <div style="margin-top: 50px;padding:0px 15px 5px;color: #5A5858;font-size: 13px;line-height:24px;">                         
                            <p style="font-family:roboto-light;font-size:14px;text-align:center; letter-spacing:0.5px">¿Dudas? Revisa nuestras </span><a href="{{faq_url}}" style="color:#3498db;text-decoration:none" target="_blank">preguntas frecuentes</a>.</p>
                          </div>
                          
                          <div align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="margin:auto;background-color: #FFF;width:500px;font-size:11px;font-weight:400;color:#ffffff;margin-top: 30px;">
                              <tbody>
                                <tr>
                                  <td style="width:200px;padding:0px 0px;border-top: 1px solid rgb(223, 223, 223);">
                                    <table cellpadding="0" cellspacing="0" border="0" style="margin: auto;padding: 8px 0px 8px 0px;">
                                      <tbody>
                                        <tr>
                                        <td style="text-align:center;padding:0px 10px">
                                            <a href="{{support_url}}" title="Contáctanos" target="_blank">
                                              <img alt="Contáctanos" title="Contáctanos" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/mail_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{twitter_url}}" title="Comparte en Twitter" target="_blank">
                                              <img alt="Comparte en Twitter" title="Comparte en Twitter" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/tw_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{facebook_url}}" title="Comparte en Facebook" target="_blank">
                                              <img alt="Comparte en Facebook" border="0" title=" Facebook" src="http://mboilerplate.appspot.com/default/materialize/images/emails/fb_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td width="20" valign="middle" style="width:20px"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr height="20" style="height:20px">
                
              </tr>
            </tbody>
          </table>
        </td>
        <td style="width:24px"></td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>
</div>


CONTACT FORM (INTERNAL USE)
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div align="center">
  <table cellpadding="0" cellspacing="0" border="0" style="background-color: #FFF;width:554px;margin:0px auto;padding:0px;border-spacing:0;border-collapse:collapse">
    <tbody>
      <tr>
        <td style="width:24px;background-color: #FFF;"></td>
        <td style="background-color: #FFF;padding:15px 10px">
          <center>
          <a href="http://dfcmexico.appspot.com" target="_blank">
            <img src="http://mboilerplate.appspot.com/default/materialize/images/favicon/fav-blue.png" height="40px">
          </a>
          </center>
        </td>
        <td style="width:24px;background-color: #FFF;"></td>
      </tr>
      <tr style="height:10px">
        <td></td>
      </tr>
      <tr>
        <td style="width:24px"></td>
        <td style="background-color:#ffffff;padding:15px;color:#494949; border-radius:3px">
            <h1 style="min-height:48px;margin:0;color:#3594F6;font-size:20px;font-weight:normal;line-height:48px;text-align:center;font-family:roboto">¡Nuevo mensaje!</h1>
          <table cellpadding="0" cellspacing="0" border="0" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
            <tbody>
              <tr height="20" style="height:20px">
                <td width="0" height="20" valign="middle" style="width:0px;height:20px"></td>
              </tr>
              <tr>
                <td width="552" valign="middle" style="width:552px">
                  <table cellpadding="0" cellspacing="0" border="0" width="552" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td width="20" valign="middle" style="width:20px"></td>
                        <td width="512" valign="middle" style="width:512px">
                            <h3 style="margin:15px 0 25px;color:#3594F6;font-size:20px;font-weight:400;line-height:24px;letter-spacing:0.35px;font-family: roboto-thin; text-align:center;">Llegó un nuevo mensaje al equipo</h3>
                            
                              <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light"><strong>Nombre:</strong> {{name}}<br>
                              <strong>Email:</strong> {{email}}<br>
                              <strong>Mensaje:</strong><br>
                              {{message}}</p>
                              <hr>
                              <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light"><strong>Dirección IP:</strong> {{ip}}<br>
                              <strong>Ciudad:</strong> {{city}}<br>
                              <strong>Región:</strong> {{region}}<br>
                              <strong>País:</strong> {{country}}<br>
                              <strong>Coordenadas:</strong> <a href="https://www.google.com.au/maps/preview/@{{coordinates}},8z">{{coordinates}}</a></p>
                              <hr>
                              <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light"><strong>Navegador web:</strong> {{browser}} {{browser_version}}<br>
                              <strong>Sistema operativo:</strong> {{operating_system}}</p>
                                                                                                          
                          <div style="margin-top: 50px;padding:0px 15px 5px;color: #5A5858;font-size: 13px;line-height:24px;letter-spacing:-1px">                         
                          </div>
                          
                          <div align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="margin:auto;background-color: #FFF;width:500px;font-size:11px;font-weight:400;color:#ffffff;margin-top: 30px;">
                              <tbody>
                                <tr>
                                  <td style="width:200px;padding:0px 0px;border-top: 1px solid rgb(223, 223, 223);">
                                    
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td width="20" valign="middle" style="width:20px"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr height="20" style="height:20px">
                
              </tr>
            </tbody>
          </table>
        </td>
        <td style="width:24px"></td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>
</div>

EMAIL CHANGED (NEW EMAIL)
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div align="center">
  <table cellpadding="0" cellspacing="0" border="0" style="background-color: #FFF;width:554px;margin:0px auto;padding:0px;border-spacing:0;border-collapse:collapse">
    <tbody>
      <tr>
        <td style="width:24px;background-color: #FFF;"></td>
        <td style="background-color: #FFF;padding:15px 10px">
          <center>
          <a href="http://mboilerplate.appspot.com" target="_blank">
            <img src="http://mboilerplate.appspot.com/default/materialize/images/favicon/fav-blue.png" height="80px" style="margin-bottom: -45px;">
          </a>
          </center>
        </td>
        <td style="width:24px;background-color: #FFF;"></td>
      </tr>
      <tr style="height:10px">
        <td></td>
      </tr>
      <tr>
        <td style="width:24px"></td>
        <td style="background-color:#ffffff;padding:15px;color:#494949; border-radius:3px">
          <h1 style="min-height:48px;margin:0;color:#3594F6;font-size:20px;font-weight:normal;line-height:48px;text-align:center;font-family:roboto">¡Hey {{username}}!</h1>
          <table cellpadding="0" cellspacing="0" border="0" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
            <tbody>
              <tr height="20" style="height:20px">
                <td width="0" height="20" valign="middle" style="width:0px;height:20px"></td>
              </tr>
              <tr>
                <td width="552" valign="middle" style="width:552px">
                  <table cellpadding="0" cellspacing="0" border="0" width="552" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td width="20" valign="middle" style="width:20px"></td>
                        <td width="512" valign="middle" style="width:512px">
                          <h3 style="margin:15px 0 25px;color:#3594F6;font-size:20px;font-weight:400;line-height:24px;letter-spacing:0.35px;font-family: roboto-thin; text-align:center;">Hubo algunos cambios en tu cuenta</h3>
                          <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Nos ha llegado solicitud para cambiar tu email a esta dirección. Una vez confirmado, todos los correos se enviarán a <strong>{{new_email}}</strong>. Para confirmar tu cambio, por favor da clic en:</p>
                          
                          <div style="text-align:center">
                            <table cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto; margin-top: 10px;">
                              <tbody>
                                <tr>
                                  <td align="center" width="290" height="50" bgcolor="" style="border-radius: 8px;border: 1px solid #66B454; cursor:pointer;" onclick=""><a href="{{confirmation_url}}" style="color: #66B454;font-size:18px;font-family: roboto;text-decoration:none; letter-spacing:1px" target="_blank">Confirmar mi email</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table><u></u>
                          </div>
                          <div style="margin-top: 50px;padding:0px 15px 5px;color: #5A5858;font-size: 13px;line-height:24px;">                         
                            <p style="font-family:roboto-light;font-size:14px;text-align:center; letter-spacing:0.5px">¿Dudas? Revisa nuestras </span><a href="{{faq_url}}" style="color:#3498db;text-decoration:none" target="_blank">preguntas frecuentes</a>.</p>
                          </div>
                          
                          <div align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="margin:auto;background-color: #FFF;width:500px;font-size:11px;font-weight:400;color:#ffffff;margin-top: 30px;">
                              <tbody>
                                <tr>
                                  <td style="width:200px;padding:0px 0px;border-top: 1px solid rgb(223, 223, 223);">
                                    <table cellpadding="0" cellspacing="0" border="0" style="margin: auto;padding: 8px 0px 8px 0px;">
                                      <tbody>
                                        <tr>
                                        <td style="text-align:center;padding:0px 10px">
                                            <a href="{{support_url}}" title="Contáctanos" target="_blank">
                                              <img alt="Contáctanos" title="Contáctanos" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/mail_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{twitter_url}}" title="Comparte en Twitter" target="_blank">
                                              <img alt="Comparte en Twitter" title="Comparte en Twitter" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/tw_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{facebook_url}}" title="Comparte en Facebook" target="_blank">
                                              <img alt="Comparte en Facebook" border="0" title=" Facebook" src="http://mboilerplate.appspot.com/default/materialize/images/emails/fb_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td width="20" valign="middle" style="width:20px"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr height="20" style="height:20px">
                
              </tr>
            </tbody>
          </table>
        </td>
        <td style="width:24px"></td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>
</div>

EMAIL CHANGED (OLD EMAIL)
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div align="center">
  <table cellpadding="0" cellspacing="0" border="0" style="background-color: #FFF;width:554px;margin:0px auto;padding:0px;border-spacing:0;border-collapse:collapse">
    <tbody>
      <tr>
        <td style="width:24px;background-color: #FFF;"></td>
        <td style="background-color: #FFF;padding:15px 10px">
          <center>
          <a href="http://mboilerplate.appspot.com" target="_blank">
            <img src="http://mboilerplate.appspot.com/default/materialize/images/favicon/fav-blue.png" height="80px" style="margin-bottom: -45px;">
          </a>
          </center>
        </td>
        <td style="width:24px;background-color: #FFF;"></td>
      </tr>
      <tr style="height:10px">
        <td></td>
      </tr>
      <tr>
        <td style="width:24px"></td>
        <td style="background-color:#ffffff;padding:15px;color:#494949; border-radius:3px">
          <h1 style="min-height:48px;margin:0;color:#3594F6;font-size:20px;font-weight:normal;line-height:48px;text-align:center;font-family:roboto">¡Hey {{username}}!</h1>
          <table cellpadding="0" cellspacing="0" border="0" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
            <tbody>
              <tr height="20" style="height:20px">
                <td width="0" height="20" valign="middle" style="width:0px;height:20px"></td>
              </tr>
              <tr>
                <td width="552" valign="middle" style="width:552px">
                  <table cellpadding="0" cellspacing="0" border="0" width="552" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td width="20" valign="middle" style="width:20px"></td>
                        <td width="512" valign="middle" style="width:512px">
                          <h3 style="margin:15px 0 25px;color:#3594F6;font-size:20px;font-weight:400;line-height:24px;letter-spacing:0.35px;font-family: roboto-thin; text-align:center;">Hubo algunos cambios en tu cuenta</h3>
                          <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Encontramos un cambio en tu dirección de correo, para confirmarlo por favor da clic en el link que enviamos a esa nueva dirección.</p>
                          <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Si tú no realizaste este cambio y crees que tu cuenta puede estar comprometida, por favor búscanos en:</p>
                          
                          <div style="text-align:center">
                            <table cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto; margin-top: 50px;">
                              <tbody>
                                <tr>
                                  <td align="center" width="290" height="50" bgcolor="" style="border-radius: 8px;border: 1px solid #66B454; cursor:pointer;" onclick=""><a href="{{support_url}}" style="color: #66B454;font-size:18px;font-family: roboto;text-decoration:none; letter-spacing:1px" target="_blank">Ayuda</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table><u></u>
                          </div>                          
                          <div style="margin-top: 50px;padding:0px 15px 5px;color: #5A5858;font-size: 13px;line-height:24px;">                         
                            <p style="font-family:roboto-light;font-size:14px;text-align:center; letter-spacing:0.5px">¿Dudas? Revisa nuestras </span><a href="{{faq_url}}" style="color:#3498db;text-decoration:none" target="_blank">preguntas frecuentes</a>.</p>
                          </div>
                          
                          <div align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="margin:auto;background-color: #FFF;width:500px;font-size:11px;font-weight:400;color:#ffffff;margin-top: 30px;">
                              <tbody>
                                <tr>
                                  <td style="width:200px;padding:0px 0px;border-top: 1px solid rgb(223, 223, 223);">
                                    <table cellpadding="0" cellspacing="0" border="0" style="margin: auto;padding: 8px 0px 8px 0px;">
                                      <tbody>
                                        <tr>
                                        <td style="text-align:center;padding:0px 10px">
                                            <a href="{{support_url}}" title="Contáctanos" target="_blank">
                                              <img alt="Contáctanos" title="Contáctanos" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/mail_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{twitter_url}}" title="Comparte en Twitter" target="_blank">
                                              <img alt="Comparte en Twitter" title="Comparte en Twitter" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/tw_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{facebook_url}}" title="Comparte en Facebook" target="_blank">
                                              <img alt="Comparte en Facebook" border="0" title=" Facebook" src="http://mboilerplate.appspot.com/default/materialize/images/emails/fb_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td width="20" valign="middle" style="width:20px"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr height="20" style="height:20px">
                
              </tr>
            </tbody>
          </table>
        </td>
        <td style="width:24px"></td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>
</div>

PASSWORD CHANGED
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div align="center">
  <table cellpadding="0" cellspacing="0" border="0" style="background-color: #FFF;width:554px;margin:0px auto;padding:0px;border-spacing:0;border-collapse:collapse">
    <tbody>
      <tr>
        <td style="width:24px;background-color: #FFF;"></td>
        <td style="background-color: #FFF;padding:15px 10px">
          <center>
          <a href="http://mboilerplate.appspot.com" target="_blank">
            <img src="http://mboilerplate.appspot.com/default/materialize/images/favicon/fav-blue.png" height="80px" style="margin-bottom: -45px;">
          </a>
          </center>
        </td>
        <td style="width:24px;background-color: #FFF;"></td>
      </tr>
      <tr style="height:10px">
        <td></td>
      </tr>
      <tr>
        <td style="width:24px"></td>
        <td style="background-color:#ffffff;padding:15px;color:#494949; border-radius:3px">
          <h1 style="min-height:48px;margin:0;color:#3594F6;font-size:20px;font-weight:normal;line-height:48px;text-align:center;font-family:roboto">¡Hey {{username}}!</h1>
          <table cellpadding="0" cellspacing="0" border="0" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
            <tbody>
              <tr height="20" style="height:20px">
                <td width="0" height="20" valign="middle" style="width:0px;height:20px"></td>
              </tr>
              <tr>
                <td width="552" valign="middle" style="width:552px">
                  <table cellpadding="0" cellspacing="0" border="0" width="552" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td width="20" valign="middle" style="width:20px"></td>
                        <td width="512" valign="middle" style="width:512px">
                          <h3 style="margin:15px 0 25px;color:#3594F6;font-size:20px;font-weight:400;line-height:24px;letter-spacing:0.35px;font-family: roboto-thin; text-align:center;">Hubo algunos cambios en tu cuenta</h3>
                          <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">La contraseña asociada con tu email <strong>{{email}}</strong> ha sido cambiada. Como medida de precaución decidimos escribirte.</p>
                          <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Si tú hiciste este cambio no hay necesidad de hacer algo más. Por el contrario, si tú no lo hiciste tu cuenta puede estar comprometida y te invitamos a:</p>
                          
                          <div style="text-align:center">
                            <table cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto; margin-top: 50px;">
                              <tbody>
                                <tr>
                                  <td align="center" width="290" height="50" bgcolor="" style="border-radius: 8px;border: 1px solid #66B454; cursor:pointer;" onclick=""><a href="{{reset_password_url}}" style="color: #66B454;font-size:18px;font-family: roboto;text-decoration:none; letter-spacing:1px" target="_blank">Recuperar mi contraseña</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table><u></u>
                          </div>
                          <div style="margin-top:50px;">
                          <p style="margin:0px 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Aquí te dejamos unos tips de seguridad:</p>                          
                          <ul style="font-size:13px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">
                            <li>Nunca dejes tu contraseña o información personal en las redes sociales.</li>
                            <li>Nunca uses la misma contraseña en diferentes websites.</li>
                            <li>Nunca te buscaremos para que nos des tu contraseña.</li>
                          </ul>
                          </div>
                          <div style="margin-top: 50px;padding:0px 15px 5px;color: #5A5858;font-size: 13px;line-height:24px;">                         
                            <p style="font-family:roboto-light;font-size:14px;text-align:center; letter-spacing:0.5px">¿Dudas? Revisa nuestras </span><a href="{{faq_url}}" style="color:#3498db;text-decoration:none" target="_blank">preguntas frecuentes</a>.</p>
                          </div>
                          
                          <div align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="margin:auto;background-color: #FFF;width:500px;font-size:11px;font-weight:400;color:#ffffff;margin-top: 30px;">
                              <tbody>
                                <tr>
                                  <td style="width:200px;padding:0px 0px;border-top: 1px solid rgb(223, 223, 223);">
                                    <table cellpadding="0" cellspacing="0" border="0" style="margin: auto;padding: 8px 0px 8px 0px;">
                                      <tbody>
                                        <tr>
                                        <td style="text-align:center;padding:0px 10px">
                                            <a href="{{support_url}}" title="Contáctanos" target="_blank">
                                              <img alt="Contáctanos" title="Contáctanos" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/mail_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{twitter_url}}" title="Comparte en Twitter" target="_blank">
                                              <img alt="Comparte en Twitter" title="Comparte en Twitter" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/tw_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{facebook_url}}" title="Comparte en Facebook" target="_blank">
                                              <img alt="Comparte en Facebook" border="0" title="Facebook" src="http://mboilerplate.appspot.com/default/materialize/images/emails/fb_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td width="20" valign="middle" style="width:20px"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr height="20" style="height:20px">
                
              </tr>
            </tbody>
          </table>
        </td>
        <td style="width:24px"></td>
      </tr>
      <tr>
        <td colspan="3">
          <img style="display:block;vertical-align:top" border="0" src="http://mihogarinvictus.appspot.com/default/img/bar.png">
        </td>
      </tr>
    </tbody>
  </table>
</div>

REFERRALS
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div align="center">
  <table cellpadding="0" cellspacing="0" border="0" style="background-color: #FFF;width:554px;margin:0px auto;padding:0px;border-spacing:0;border-collapse:collapse">
    <tbody>
      <tr>
        <td style="width:24px;background-color: #FFF;"></td>
        <td style="background-color: #FFF;padding:15px 10px">
          <center>
          <a href="http://mboilerplate.appspot.com" target="_blank">
            <img src="http://mboilerplate.appspot.com/default/materialize/images/favicon/fav-blue.png" height="80px" style="margin-bottom: -45px;">
          </a>
          </center>
        </td>
        <td style="width:24px;background-color: #FFF;"></td>
      </tr>
      <tr style="height:10px">
        <td></td>
      </tr>
      <tr>
        <td style="width:24px"></td>
        <td style="background-color:#ffffff;padding:15px;color:#494949; border-radius:3px">
          <h1 style="min-height:48px;margin:0;color:#3594F6;font-size:20px;font-weight:normal;line-height:48px;text-align:center;font-family:roboto">¡Hola!</h1>
          <table cellpadding="0" cellspacing="0" border="0" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
            <tbody>
              <tr height="20" style="height:20px">
                <td width="0" height="20" valign="middle" style="width:0px;height:20px"></td>
              </tr>
              <tr>
                <td width="552" valign="middle" style="width:552px">
                  <table cellpadding="0" cellspacing="0" border="0" width="552" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td width="20" valign="middle" style="width:20px"></td>
                        <td width="512" valign="middle" style="width:512px">
                          <h3 style="margin:15px 0 25px;color:#3594F6;font-size:20px;font-weight:400;line-height:24px;letter-spacing:0.35px;font-family: roboto-thin; text-align:center;">{{user_name}} ({{user_email}}) te invita a que te unas a diseñar el cambio.</h3>
                          <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Diseña el Cambio es un concurso de escuelas que busca empoderar a los alumnos de México y del mundo a ser los protagonistas en el desarrollo e implementación de soluciones para transformar su entorno. Esto a través de 4 simples etapas: Siente, Imagina, Haz y Comparte.</p>
                          <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">¿Qué esperas? Acepta la invitación y súmate</p>
                          
                          <div style="text-align:center">
                            <table cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto; margin-top: 50px;">
                              <tbody>
                                <tr>
                                  <td align="center" width="290" height="50" bgcolor="" style="border-radius: 8px;border: 1px solid #66B454; cursor:pointer;" onclick=""><a href="{{link_referral}}" style="color: #66B454;font-size:18px;font-family: roboto;text-decoration:none; letter-spacing:1px" target="_blank">Aceptar invitación</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table><u></u>
                          </div>
                          <div style="margin-top: 50px;padding:0px 15px 5px;color: #5A5858;font-size: 13px;line-height:24px;">                         
                            <p style="font-family:roboto-light;font-size:14px;text-align:center; letter-spacing:0.5px">¿Dudas? Revisa nuestras </span><a href="{{faq_url}}" style="color:#3498db;text-decoration:none" target="_blank">preguntas frecuentes</a>.</p>
                          </div>
                          
                          <div align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="margin:auto;background-color: #FFF;width:500px;font-size:11px;font-weight:400;color:#ffffff;margin-top: 30px;">
                              <tbody>
                                <tr>
                                  <td style="width:200px;padding:0px 0px;border-top: 1px solid rgb(223, 223, 223);">
                                    <table cellpadding="0" cellspacing="0" border="0" style="margin: auto;padding: 8px 0px 8px 0px;">
                                      <tbody>
                                        <tr>
                                        <td style="text-align:center;padding:0px 10px">
                                            <a href="{{support_url}}" title="Contáctanos" target="_blank">
                                              <img alt="Contáctanos" title="Contáctanos" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/mail_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{twitter_url}}" title="Comparte en Twitter" target="_blank">
                                              <img alt="Comparte en Twitter" title="Comparte en Twitter" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/tw_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{facebook_url}}" title="Comparte en Facebook" target="_blank">
                                              <img alt="Comparte en Facebook" border="0" title="Facebook" src="http://mboilerplate.appspot.com/default/materialize/images/emails/fb_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td width="20" valign="middle" style="width:20px"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr height="20" style="height:20px">
                
              </tr>
            </tbody>
          </table>
        </td>
        <td style="width:24px"></td>
      </tr>
      <tr>
        <td colspan="3">
          <img style="display:block;vertical-align:top" border="0" src="http://mihogarinvictus.appspot.com/default/img/bar.png">
        </td>
      </tr>
    </tbody>
  </table>
</div>

PASSWORD RECOVERY
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div align="center">
  <table cellpadding="0" cellspacing="0" border="0" style="background-color: #FFF;width:554px;margin:0px auto;padding:0px;border-spacing:0;border-collapse:collapse">
    <tbody>
      <tr>
        <td style="width:24px;background-color: #FFF;"></td>
        <td style="background-color: #FFF;padding:15px 10px">
          <center>
          <a href="http://mboilerplate.appspot.com" target="_blank">
            <img src="http://mboilerplate.appspot.com/default/materialize/images/favicon/fav-blue.png" height="80px" style="margin-bottom: -45px;">
          </a>
          </center>
        </td>
        <td style="width:24px;background-color: #FFF;"></td>
      </tr>
      <tr style="height:10px">
        <td></td>
      </tr>
      <tr>
        <td style="width:24px"></td>
        <td style="background-color:#ffffff;padding:15px;color:#494949; border-radius:3px">
          <h1 style="min-height:48px;margin:0;color:#3594F6;font-size:20px;font-weight:normal;line-height:48px;text-align:center;font-family:roboto">¡Hey {{username}}!</h1>
          <table cellpadding="0" cellspacing="0" border="0" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
            <tbody>
              <tr height="20" style="height:20px">
                <td width="0" height="20" valign="middle" style="width:0px;height:20px"></td>
              </tr>
              <tr>
                <td width="552" valign="middle" style="width:552px">
                  <table cellpadding="0" cellspacing="0" border="0" width="552" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td width="20" valign="middle" style="width:20px"></td>
                        <td width="512" valign="middle" style="width:512px">
                          <h3 style="margin:15px 0 25px;color:#3594F6;font-size:20px;font-weight:400;line-height:24px;letter-spacing:0.35px;font-family: roboto-thin; text-align:center;">Te ayudaremos a recuperar tu contraseña</h3>
                          <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Para iniciar el proceso de recuperación, por favor da clic en:</p>
                          <div style="text-align:center">
                            <table cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto; margin-top: 10px;">
                              <tbody>
                                <tr>
                                  <td align="center" width="290" height="50" bgcolor="" style="border-radius: 8px;border: 1px solid #66B454; cursor:pointer;" onclick=""><a href="{{reset_password_url}}" style="color: #66B454;font-size:18px;font-family: roboto;text-decoration:none; letter-spacing:1px" target="_blank">Recuperar mi contraseña</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table><u></u>
                          </div>
                          <p style="margin:20px 0 12px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Quizá algún usuario escribió tu dirección de manera accidental al intentar recuperar su contraseña.</p>
                          <p style="margin:0px 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Si tú no solicitaste la recuperación de contraseña, puedes tranquilamente olvidar este correo.</p>                         
                          <div style="margin-top: 50px;padding:0px 15px 5px;color: #5A5858;font-size: 13px;line-height:24px;">                         
                            <p style="font-family:roboto-light;font-size:14px;text-align:center; letter-spacing:0.5px">¿Dudas? Revisa nuestras </span><a href="{{faq_url}}" style="color:#3498db;text-decoration:none" target="_blank">preguntas frecuentes</a>.</p>
                          </div>
                          
                          <div align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="margin:auto;background-color: #FFF;width:500px;font-size:11px;font-weight:400;color:#ffffff;margin-top: 30px;">
                              <tbody>
                                <tr>
                                  <td style="width:200px;padding:0px 0px;border-top: 1px solid rgb(223, 223, 223);">
                                    <table cellpadding="0" cellspacing="0" border="0" style="margin: auto;padding: 8px 0px 8px 0px;">
                                      <tbody>
                                        <tr>
                                        <td style="text-align:center;padding:0px 10px">
                                            <a href="{{support_url}}" title="Contáctanos" target="_blank">
                                              <img alt="Contáctanos" title="Contáctanos" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/mail_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{twitter_url}}" title="Comparte en Twitter" target="_blank">
                                              <img alt="Comparte en Twitter" title="Comparte en Twitter" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/tw_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{facebook_url}}" title="Comparte en Facebook" target="_blank">
                                              <img alt="Comparte en Facebook" border="0" title="Facebook" src="http://mboilerplate.appspot.com/default/materialize/images/emails/fb_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td width="20" valign="middle" style="width:20px"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr height="20" style="height:20px">
                
              </tr>
            </tbody>
          </table>
        </td>
        <td style="width:24px"></td>
      </tr>
      <tr>
        <td colspan="3">
          <img style="display:block;vertical-align:top" border="0" src="http://mihogarinvictus.appspot.com/default/img/bar.png">
        </td>
      </tr>
    </tbody>
  </table>
</div>

MESSAGE ARRIVED
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div align="center">
  <table cellpadding="0" cellspacing="0" border="0" style="background-color: #FFF;width:554px;margin:0px auto;padding:0px;border-spacing:0;border-collapse:collapse">
    <tbody>
      <tr>
        <td style="width:24px;background-color: #FFF;"></td>
        <td style="background-color: #FFF;padding:15px 10px">
          <center>
          <a href="http://mboilerplate.appspot.com" target="_blank">
            <img src="http://mboilerplate.appspot.com/default/materialize/images/favicon/fav-blue.png" height="80px" style="margin-bottom: -45px;">
          </a>
          </center>
        </td>
        <td style="width:24px;background-color: #FFF;"></td>
      </tr>
      <tr style="height:10px">
        <td></td>
      </tr>
      <tr>
        <td style="width:24px"></td>
        <td style="background-color:#ffffff;padding:15px;color:#494949; border-radius:3px">
          <h1 style="min-height:48px;margin:0;color:#3594F6;font-size:20px;font-weight:normal;line-height:48px;text-align:center;font-family:roboto">¡Hey {{username}}!</h1>
          <table cellpadding="0" cellspacing="0" border="0" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
            <tbody>
              <tr height="20" style="height:20px">
                <td width="0" height="20" valign="middle" style="width:0px;height:20px"></td>
              </tr>
              <tr>
                <td width="552" valign="middle" style="width:552px">
                  <table cellpadding="0" cellspacing="0" border="0" width="552" style="width:552px;margin:-16px auto;padding:0px;background-color:#ffffff;border-spacing:0;border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td width="20" valign="middle" style="width:20px"></td>
                        <td width="512" valign="middle" style="width:512px">
                          <h3 style="margin:15px 0 25px;color:#3594F6;font-size:20px;font-weight:400;line-height:24px;letter-spacing:0.35px;font-family: roboto-thin; text-align:center;">Te han dejado un nuevo mensaje</h3>
                          <p style="margin:0 0 22px;font-size:14px;line-height:24px;letter-spacing:.5px;font-family:roboto-light">Para ver quién te ha escrito por favor da clic en el siguiente vínculo:</p>
                          <div style="text-align:center">
                            <table cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto; margin-top: 10px;">
                              <tbody>
                                <tr>
                                  <td align="center" width="290" height="50" bgcolor="" style="border-radius: 8px;border: 1px solid #66B454; cursor:pointer;" onclick=""><a href="{{inbox_url}}" style="color: #66B454;font-size:18px;font-family: roboto;text-decoration:none; letter-spacing:1px" target="_blank">Leer mi nuevo mensaje</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table><u></u>
                          </div>
                                                  
                          <div style="margin-top: 50px;padding:0px 15px 5px;color: #5A5858;font-size: 13px;line-height:24px;">                         
                            <p style="font-family:roboto-light;font-size:14px;text-align:center; letter-spacing:0.5px">¿Dudas? Revisa nuestras </span><a href="{{faq_url}}" style="color:#3498db;text-decoration:none" target="_blank">preguntas frecuentes</a>.</p>
                          </div>
                          
                          <div align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="margin:auto;background-color: #FFF;width:500px;font-size:11px;font-weight:400;color:#ffffff;margin-top: 30px;">
                              <tbody>
                                <tr>
                                  <td style="width:200px;padding:0px 0px;border-top: 1px solid rgb(223, 223, 223);">
                                    <table cellpadding="0" cellspacing="0" border="0" style="margin: auto;padding: 8px 0px 8px 0px;">
                                      <tbody>
                                        <tr>
                                        <td style="text-align:center;padding:0px 10px">
                                            <a href="{{support_url}}" title="Contáctanos" target="_blank">
                                              <img alt="Contáctanos" title="Contáctanos" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/mail_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{twitter_url}}" title="Comparte en Twitter" target="_blank">
                                              <img alt="Comparte en Twitter" title="Comparte en Twitter" border="0" src="http://mboilerplate.appspot.com/default/materialize/images/emails/tw_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                          <td style="text-align:center;padding:0px 10px">
                                            <a href="{{facebook_url}}" title="Comparte en Facebook" target="_blank">
                                              <img alt="Comparte en Facebook" border="0" title="Facebook" src="http://mboilerplate.appspot.com/default/materialize/images/emails/fb_bl.png" height="30px" style="display:block;margin:auto">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td width="20" valign="middle" style="width:20px"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr height="20" style="height:20px">
                
              </tr>
            </tbody>
          </table>
        </td>
        <td style="width:24px"></td>
      </tr>
      <tr>
        <td colspan="3">
          <img style="display:block;vertical-align:top" border="0" src="http://mihogarinvictus.appspot.com/default/img/bar.png">
        </td>
      </tr>
    </tbody>
  </table>
</div>