<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ locale_language_id }}"> <!--<![endif]-->
<head>
    <title>{% block title %} Error 500{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Invictus es una solución en línea muy fácil de usar que te ayuda a analizar, monitorear y reducir tu consumo de energía eléctrica para ahorrar dinero. Invictus es más preciso y genera mejores comparaciones cuando todos tu amigos y vecinos los usan, invítalos." />
    <meta name="keywords" content="invictus, comunidad, social, electricidad, mexico, hogares, consumo eléctrico, cfe, transparencia, red, smart, home"/>
    <meta property="og:site_name" content="Invictus.mx"/>
    <meta property="og:title" content="Invictus"/>
    <meta property="og:type" content="website"/>
  <meta property="og:description" content="Invictus es una solución en línea muy fácil de usar que te ayuda a analizar, monitorear y reducir tu consumo de energía eléctrica para ahorrar dinero. Invictus es más preciso y genera mejores comparaciones cuando todos tu amigos y vecinos los usan, invítalos."/>
    <meta property="og:url" content="http://mihogar.invictus.mx"/>
  <meta property="og:image" content="http://mihogarinvictus.appspot.com/default/img/_meta_.png"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@invictusmx">
    <meta name="twitter:creator" content="@invictusmx">
    <meta name="twitter:title" content="Invictus">
  <meta name="twitter:description" content="Invictus es una solución en línea muy fácil de usar que te ayuda a analizar, monitorear y reducir tu consumo de energía eléctrica para ahorrar dinero. Invictus es más preciso y genera mejores comparaciones cuando todos tu amigos y vecinos los usan, invítalos.">
    <meta name="twitter:image" content="http://mihogarinvictus.appspot.com/default/img/_meta_.png">
    <meta property="twitter:url" content="http://mihogar.invictus.mx"/>
  <meta name="bitly-verification" content="08b699436857"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">  
    <link rel="shortcut icon" href=" /{{ theme }}/img/fav.png">
    {% if is_mobile %}
    {% endif %}
  
<!--  POLYMER   -->
<script src="/boilerplate/webcomponents/bower_components/webcomponentsjs/webcomponents.js"></script>
<link href="/boilerplate/webcomponents/bower_components/font-roboto/roboto.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/ajax-form/ajax-form.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/core-header-panel/core-header-panel.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/core-toolbar/core-toolbar.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/core-icon/core-icon.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/core-icon-button/core-icon-button.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/core-icons/communication-icons.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/core-icons/core-icons.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/core-collapse/core-collapse.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/paper-toast/paper-toast.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/paper-button/paper-button.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/paper-icon-button/paper-icon-button.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/paper-input/paper-input-decorator.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/paper-shadow/paper-shadow.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/paper-fab/paper-fab.html" rel="import">
<link href="/boilerplate/webcomponents/bower_components/paper-checkbox/paper-checkbox.html" rel="import">
  
  
    <!--  STYLESHEETS   -->
    <link rel="stylesheet" href="/boilerplate/css/bootstrap.min.css">
    <link rel="stylesheet" href="/default/css/main.css">
  <link rel="stylesheet" href="/default/css/materialize.min.css"  media="screen,projection"/>
   
  
  
    <link rel="stylesheet" href="/boilerplate/css/boilerplate.min.css">
    <link rel="stylesheet" href="/default/css/style.css">

    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance. -->
    <script src="/boilerplate/js/libs/modernizr-2.7.1.min.js"></script>

</head>
<body>
<!--[if lt IE 9]>
      <p class=chromeframe>{% trans %}Your browser is <em>ancient!</em>{% endtrans %} 
      {% trans %}<a href="http://browsehappy.com/">Upgrade to a different browser</a>
      to experience this site.{% endtrans %}</p>
    <![endif]-->

<div id="page">

<div id="content" class="container xled">
<div id="not_logged">
    <center><a href="http://invictus.mx/">
      <img src="/default/img/invictus-blanco.png" height="40px" style="margin-top: 40px;">
    </a></center>
  </div>
  <center style="margin-top:100px">
    <div class="row">
      <paper-shadow z="3" style="z-index:3;" class="col s10 offset-s1">
        <div class="mycard">
          <div class="mycardcontent" style="text-align: justify;">
            <!-- <center style="margin-bottom:80px;"><h1 class="bignbold">ERROR 404</h1> -->

              <img src="/default/img/500.gif" class="img-responsive">
              <h2 class="flow-text" style="max-width:400px;">500: Error de servidor. Paciencia, nuestro experto está en camino.<br><a href="/settings/profile/">← ir a otro lugar</a></h2> 
              <p style="text-align:right; max-width:400px;"> Si el problema persiste, <a href="/contact/" target="_blank">✉ contáctanos</a></p>
            </center>                              
          </div>
        </div>
      </paper-shadow>
    </div>
</center>
</div>
</div>
   <!-- JavaScript at the bottom for fast page loading -->
<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/boilerplate/js/libs/jquery.min.js"><\/script>')</script>
<script src="/boilerplate/js/libs/bootstrap.min.js"></script>

<!-- scripts concatenated and minified via build script -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script src="/boilerplate/js/libs/bootstrap.min.js"></script>
<script src="/default/js/script.js"></script>
<script src="/default/js/materialize.min.js"></script>
<script src="/boilerplate/js/plugins.js"></script>
<script src="/boilerplate/js/script.js"></script>
<script>
  // var errorCallback = function(e) {
  //   console.log('Reeeejected!', e);
  // };

  // navigator.getUserMedia  = navigator.getUserMedia ||
  //                         navigator.webkitGetUserMedia ||
  //                         navigator.mozGetUserMedia ||
  //                         navigator.msGetUserMedia;

// var video = document.querySelector('video');
// video.src = 'http://playground.html5rocks.com/samples/html5_misc/chrome_japan.webm'; // fallback.

// if (navigator.getUserMedia) {
//   navigator.getUserMedia({audio: false, video: true}, function(stream) {
//     video.src = window.URL.createObjectURL(stream);
//   }, errorCallback);
// } else {
//   video.src = 'http://playground.html5rocks.com/samples/html5_misc/chrome_japan.webm'; // fallback.
// }
</script>
</body>
</html>
